<nav class="menu" role="nav">
    <ul>
      <li><a href="https://github.com/alextercete" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
      <li><a href="https://twitter.com/alextercete" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
      <li><a href="https://www.linkedin.com/in/alextercete" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
    </ul>
</nav>